body, html {
    font-size: 16px;
    background-color: #FAF3EF; 
    overflow-x: hidden;
    font-family: Nunito;
}

h1, h3, h4, h5, p {
    color: #000000;
    padding-bottom: 30px;
}

/* Navbar */
.navbar .navbar-nav .nav-link,
.nav-link:hover,
.navbar-brand,
.nav-item.active .nav-link {
  color: rgb(250, 243, 239) !important; 
  font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
  border-color: rgb(250, 243, 239); /* Pink border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E");
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #000000;
  list-style: none;
  z-index: 1000;
}

.dropdown-item {
  color: #ffffff;
  font-family: 'Comfortaa';
  font-size: 0.8rem; 
}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
  }

  .navbar-item {
      margin: 10px 0;
  }

  .navbar-toggle {
      display: flex;
  }
}

.collection-title {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.collection-title h1 {
    font-size: 48px;
    font-family: 'Comfortaa', sans-serif; 
    display: inline-block; 
    position: relative;
    margin: 0; 
    padding-bottom: 0px; 
}
.collection-title h1::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 4px;
    background-color: rgb(107, 26, 16);
    bottom: -10px;
    left: 0;
    animation: lineGrow 1.5s ease-in-out forwards;
}
@keyframes lineGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    grid-auto-flow: dense;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    position: relative; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal {
    grid-column: span 2;
    grid-row: span 1;
}

.vertical {
    grid-column: span 1;
    grid-row: span 2;
}

.square {
    grid-column: span 1;
    grid-row: span 1;
}

.small {
    grid-column: span 1;
    grid-row: span 1;
}

.gallery-item[data-id="17"] {
    grid-column: span 2;
    grid-row: span 1;
}

.carousel-caption {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 10px; 
    left: 50%; 
    transform: translate(-50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%; 
    padding: 10px; 
    border-radius: 5px; 
}

.gallery-item:hover .carousel-caption {
    opacity: 1;
}

.carousel-caption h5 {
    color: white !important;
    margin: 0 0 10px 0;
}

.carousel-caption .btn {
    background-color: #6B1A10;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 4px;
}

.carousel-caption .btn:hover {
    background-color: #5a150e;
    color: #fff;
}

.footer {
    background-color: black;
    color: white;
    padding: 0;
}

.footer a {
    color: white;
}

.footer p {
    color: white;
}

.scroll-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.scroll-button {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 40px !important;
    height: 40px !important;
    padding: 10px !important;    
}

.scroll-button svg {
    width: 24px;
    height: 24px;
    fill: black;
}

.scroll-button:hover {
    background-color: #f0f0f0;
}

@media (min-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .horizontal, .vertical, .square, .small {
        grid-column: span 1;
        grid-row: span 1;
    }
}
