
.description {
    display: flex;
    min-height: 100vh;
    padding-top: 1%;
    padding-left: 1%;
}

.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #000;
   
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul ul {
    padding-left: 20px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin: 5px 0;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content:baseline;
    align-items:baseline;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.center-cell {
    text-align:left;
    vertical-align: middle;
    height: 100%;
}

#cell {
  text-align: left;
}

h1 {
  color: #c96638;
  
}

h3 {
  color: #000;
}

p {
  color: #000;
}

ul, li {
    font-size: 20px;
    line-height: 1.6em;
}
