.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul ul {
    padding-left: 20px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin: 5px 0;
}

.content {
    padding: 0 30px;
}

.center-cell {
    text-align:left;
    vertical-align: middle;
    height: 100%;
    
}


h1 {
  color: rgb(103, 49, 75);
  font-size: 2.986rem;
  text-align: center;
  padding-top: 20px;
}

h5 {
  color:rgb(107, 26, 16);
  font-size: 1.44rem;
}

h4 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p {
  color: #000;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

ul, li {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}



table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
   
    text-align: left;
    padding: 8px;
}
th {
    background-color: rgba(103, 49, 75, 0.092);
}

.section-header {
    background-color: rgb(250, 243, 239);
    font-weight: bold;
}


table.firstable {
    width: 80%; 
    margin: 0 auto;
    margin: 20px auto;
}

th, td {
    padding: 10px; 
    text-align: left; 
    
}


