body {
    font-family: 'Nunito', sans-serif;
    background-color: #FAF3EF !important;
}

h1, h2 {
    font-family: 'Comfortaa', sans-serif;  
}

h1, h2, h3, h4, h5 {
    color: #333 !important;
}

h1 {
    font-size: 3rem; 
    font-weight: bold;
    text-align: center;  
    color: #000;  
}

/* Navbar */
.navbar .navbar-nav .nav-link,
.nav-link:hover,
.navbar-brand,
.nav-item.active .nav-link {
    color: rgb(250, 243, 239) !important; 
    font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
    border-color: rgb(250, 243, 239); /* Pink border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E");
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #000000;
    list-style: none;
    z-index: 1000;
}

.dropdown-item {
    color: #ffffff;
    font-family: 'Comfortaa';
    font-size: 14px;
}

/* Responsive navbar */

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}

@media (max-width: 760px) {
    body {
        font-size: 0.875rem; /* Reduce base font size */
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5 {
        font-size: 1rem; /* Smaller font size for h5 */
    }

    h6 {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.625rem;
    }
}

.page-title-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;      
}

.page-title {
    position: relative;
    display: inline-block;  
    text-align: center;     
}

.page-title::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 0.25rem;
    background-color: rgb(107, 26, 16);
    bottom: -0.625rem;
    left: 0;
    animation: lineGrow 1.5s ease-in-out forwards;
}

@keyframes lineGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.col-md-4 {
    margin-top: 1.875rem; 
}
   
.card-img-top {
    width: 100%; 
    height: 20.9375rem; 
    object-fit: contain; 
    padding-top: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 28.125rem;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h5.card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

.card p.card-text {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #555;
    text-align: left;
}

.view-collection-btn, .view-more-btn {
    background-color: #6B1A10;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 4px;
}

.view-collection-btn:hover, .view-more-btn:hover {
    background-color: #5a150e;
    color: #fff;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 99;
    background-color: #6B1A10;
    color: white;
    border: none;
    padding: 0.625rem;
    border-radius: 4px;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #5a150e;
}

section {
    padding: 5rem 0;
}

.bg-light {
    background-color: #f8f9fa;
}

.sub-narratives-bg {
    background-color: #FAF3EF !important;
}

.row {
    margin-bottom: 2rem;
}

#sub-narratives-geography .card {
    min-height: 23.4375rem;
    margin-top: 2.1875rem;
}

#sub-narratives-geography .card h5 {
    text-align: center;
}

p.card-text {
    text-align: left;
}

.carousel-caption h5 {
    color: white !important; 
}

.carousel-caption {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0.625rem;
    left: 50%;
    transform: translate(-50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    width: 80%;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

.carousel-caption .btn {
    margin-top: 0.625rem;
    background-color: #6B1A10; 
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 4px;
}

.carousel-caption .btn:hover {
    background-color: #5a150e; 
    color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 0.625rem;
    border-radius: 50%;
}

.carousel-item img {
    width: 100%; 
    height: 20.9375rem; 
    object-fit: contain; 
}

.scroll-buttons {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.scroll-button {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 0.625rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
}

.scroll-button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: black;
}

.scroll-button:hover {
    background-color: #f0f0f0;
}

.footer {
    background: #000; 
    padding: 0;
}

.footer a {
    text-decoration: none; 
    color: #fff;  
}
