/* Colors: E4A88C, C96638, 6B1A10, 67314B, D9D9D9 */
/* Fonts: Nunito, Comfortaa */
:root {
    --primary-color: #E4A88C;
    --secondary-color: #C96638;
    --tertiary-color: #6B1A10;
    --quaternary-color: #67314B;
    --quinary-color: #FAF3EF;
    font-family: Nunito;
}

h5 {
    color: black !important;
}

h3 {
    color: black !important;
  }

button {
    border: solid 3px;
}

.page-title {
    color: black;
    font-size: 2.986rem	!important;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    display: inline-block;
}

.page-title-section {
    padding: 35px;
    text-align: center;
}

.page-title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color:rgb(107, 26, 16);; 
    bottom: -10px; 
    left: 0;
    animation: lineGrow 1.5s ease-in-out forwards;
}

@keyframes lineGrow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
/* Main content */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* IMAGE DISPLAY */

#image-wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 2.5%;
    border-radius: 5px;
}

#artwork-img {
    max-height: 100vh;
    height: auto;
    display: flex;
    align-self: center;
}

@media screen and (max-width: 768px) {
    #image-wrapper {
        height: 50%;
        width: 100%;
        left: 0%;
        top: 40px;
    }
    #artwork-img {
        max-height: 75vh;
}
    #alt-narr .sub-narr button {
        padding: 3%;
    }
    #wrapper-header {
        top: -45px;
        background-color: black;
    }
    #wrapper-header * {
        padding: 0px;
    }
}

#wrapper-header {
    position: absolute;
    height: fit-content;
    width: 100%; 
    z-index: 1; /* Ensure it's above the image */
}
#wrapper-header h6 {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
    max-width: 80%;
    margin-top: 1.25vh;
    align-self: center;
}
#wrapper-header button {
    background-color:rgba(0, 0, 0, 0.3);
    align-self: center;
}
#wrapper-header button:hover {
    background-color:var(--tertiary-color);
}

#wrapper-header #offcanvas-button:hover {
    background-color: var(--quaternary-color);
}

#artwork-list button {
    color: white;
    text-align: left;
    width: fit-content;
}
.back-button, .next-button {
    position: absolute;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    z-index: 1;
    border-radius: 50px;
}

.back-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
} 

.back-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: solid 1px var(--quinary-color);
}
.back-button:disabled, .next-button:disabled {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px var(--quinary-color);
}

/* SIDE IMAGE*/

#side-image {
    position: fixed;
    top: 10px;
    right: 0px;
}

/* Initially hidden */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
  }
  
  /* Shown with animation */
  .visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.3s ease;
}

#side-image img {
    max-height: 70vh;
    align-self: center;
    justify-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#side-image .card {
    border-radius: 5px;
    padding-left: 0px;
}

/* TABLE SECTION */

.table-body {
    padding: 0px;
}

.description {
    margin-bottom: 1vh;
    border-bottom: 1px dotted black;
    padding: 5px;
}
.description > div {
    text-align: left;
    text-wrap:pretty;
}
.description div.label {
    font-weight: bold;
    align-content: baseline;
}

.card-header {
    background-color: black; 
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* NARRATIVE SWITCH SECTION */

#alt-narr .sub-narr button {
    color: white;
    min-width: 50%;
    width: fit-content;
    background-color: var(--tertiary-color);
    margin-top: 2.5vh;
    align-self: center;
    overflow-wrap: break-word;
}

#time {
    border: solid 1px var(--primary-color); 
    background-color: rgba(255, 255, 255, 0.5); 
    margin-left: -13px;
    width: fit-content;
    text-wrap: pretty;
    text-align: left;
}

.narr-icon {
    display: flex;
    justify-content: center;
}

.narr-icon img {
    width: 70px;
    height: auto;
}

.narr-icon button {
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px var(--secondary-color);
}

#description h5 {
    text-align: center; 
    margin-bottom: 5vh; 
    font-weight: bolder;
}
/* DESCRIPTION SECTION */

hr {
    border-radius: 5px;
    height: 0.5vmin; /* Set the height (thickness) */
    background-color: #6B1A10   ; /* Change color */
}
.text-button {
    background-color: var(--quaternary-color);
    color: white;
}

.text-button:active {
    background-color: var(--quaternary-color);
}


/* Animation for spinning effect */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
