/* Colors: E4A88C, C96638, 6B1A10, 67314B, D9D9D9 */
/* Fonts: Nunito, trispace */
:root {
    --primary-color: #E4A88C;
    --secondary-color: #C96638;
    --tertiary-color: #6B1A10;
    --quaternary-color: #67314B;
    --quinary-color: #D9D9D9;
    font-family: Nunito;
    font-size: 1rem;
}
[style*="font-family: trispace;"] {
    font-size: 2rem;
}

body {
    font-family: Nunito;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: trispace;
}

button {
    font-size: 0.7rem;
    border: solid 3px;
}

/* Navbar */
.navbar .nav-link, 
        .navbar .navbar-brand 
        .navbar .dropdown-item {
            color: rgb(255, 255, 255);
        }

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  width: 200px;
  color: #ffffff;
}

.dropdown-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #000000;  border: 1px solid ; 
  transition: background-color 0.3s;
  font-size: 1.3em;
}


/* Show menu when toggle is clicked */
.navbar-menu.show {
  display: flex;
  color: #000000;
}

.dropdown-menu.show {
  display: block;

}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
  }

  .navbar-item {
      margin: 10px 0;
  }

  .navbar-toggle {
      display: flex;
  }
}
/* Main content */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#image-wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
    display: flex;               /* Enable flexbox for centering */
    justify-content: center;      /* Center horizontally */
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0px
}
#artwork-img {
    max-width: 100%;             /* Make the image responsive */
    max-height: 100vh;
    height: auto;
}
@media (width < 992px){
    #image-wrapper {
        height: 50%;
    };
}
#narrative-navbar {
    height: fit-content;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); /* Center the navbar horizontally */
    z-index: 1; /* Ensure it's above the image */
    background-color: rgba(0, 0, 0, 0.7);
}

#narrative-navbar button:hover {
    background-color:var(--tertiary-color);
    color: white;
}
#artwork-list li {
    color: white;
    text-align: left;
    width: fit-content;
}
#back-button, #next-button {
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    z-index: 1;
    border-radius: 50px;
}

#back-button {
    left: 10px;
}
  
#next-button {
    right: 10px;
} 
/* Initially hidden */
.hidden {
    position: fixed;
    top: 10px;
    right: 0px;
    width: 30vw; /* Shrink image size */
    height: auto;
    opacity: 0;
    padding-right: 10px;
    visibility: hidden;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  /* Shown with animation */
  .visible {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 10px;
    right: 0px;
    padding-right: 10px;
    width: 30vw; /* Shrink image size */
    height: auto;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
#alt-narr button{
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 0.35rem;
    background-color: var(--tertiary-color);
    border-radius: 10%;
    font-family: trispace;
    margin-right: 2vmax;
}
.table-body {
    padding: 0px;
    padding-top: 1vmin;
}
.description {
    margin-bottom: 1vh;
    border-bottom: 1px dotted black;
}
.description > div {
    text-align: left;
    overflow-wrap: anywhere;
}
.description div.label {
    font-family: trispace;
}
/* Text part */
hr {
    border-radius: 5px;
    height: 0.5vmin; /* Set the height (thickness) */
    background-color: #6B1A10   ; /* Change color */
}
.text-button {
    background-color: #67314B;
    color: white;
    font-family: trispace;
    font-size: small;
    padding-bottom: 1%;
}

/* Footer */
footer {
    height: 25%;
    background-color: black;
    padding: 2em;
    width: 100%;
}
/* Style for loading spinner */
.loading-spinner {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation for spinning effect */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
