/* Testo introduttivo */
.intro-text {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Bottone */
.button {
  margin-top: 2rem;
  padding: 1vh 2vh;
  background: #6B1A10;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

/* Margini di sezione */
.mt-1 {
  margin-top: 3rem;
  padding-top: 5%;
}

.mt-2 {
  margin-top: 6rem;
}

.mt-3 {
  margin-top: 9rem;
}

.tw, .twi {
  color: #fff;
  padding-left: 0;
  padding-right: 5%;
}

.twi {
  color: #000000;
}

/* Hero */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Contenuto Hero */
.hero_content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 1;
  position: relative;
}

.hero_content h1 {
  font-family: 'Comfortaa', sans-serif;
  color: #FAF3EF;
  animation: pulseText 4s infinite;
}

.hero_content p {
  color: #FAF3EF;
}

@keyframes pulseText {
  0% {
      text-shadow: 0 0 5px black, 0 0 10px rgb(103, 49, 75);
      transform: scale(1);
  }
  50% {
      text-shadow: 0 0 15px rgb(103, 49, 75), 0 0 20px rgb(103, 49, 75);
      transform: scale(1.02);
  }
  100% {
      text-shadow: 0 0 5px black, 0 0 10px rgb(103, 49, 75);
      transform: scale(1);
  }
}

/* Responsive adjustments for small screens */
@media (max-width: 760px) {
  .hero_content h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}


/* Poster */
.poster {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgb(250, 243, 239);
}

#video-back {
  position: static;
  width: 100%;
  height: auto;
  margin-top: 10vh;
  border-radius: 10px;
  height: fit-content;
}

.poster_img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.poster_content {
  width: 40%;
  text-align: left;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* Responsive for Poster */
@media (max-width: 760px) {
  .poster {
      flex-wrap: wrap;
      height: auto;
      padding: 1rem;
  }

  .poster_img, .poster_content {
      width: 100%;
  }

  #video-back {
      width: 100%;
      height: auto;
      padding: 0;
      padding-bottom: 3rem;
  }
}

/* Sfondo coprente */
.bg-cover, .go-cover, .end-cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  flex-wrap: wrap;
}


.bg-cover {
  background: var(--tertiary-color);
}

.go-cover {
  background: var(--quaternary-color);
}

.bg-cover_text, .bg-cover_title, .go-cover_text, .go-cover_title {
  width: 50%;
  padding: 2.5vw;
}

@media (max-width: 760px) {
  .bg-cover, .go-cover {
      flex-direction: column;
      height: auto;
      padding: 1rem;
  }

  .bg-cover_text, .bg-cover_title, .go-cover_title {
      width: 100%;
      padding: 1rem;
  }

  .go-cover_text {
      flex-wrap: wrap;
      height: auto;
      padding: 1rem;
  }

}

/* Information Table */
.information-section h2 {
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.information-table {
  width: 100%;
  padding-right: 2.5vw;
}

.information-table th, .information-table td {
  padding: 0.625rem;
  border-bottom: 1px solid #000000;
  text-align: left;
  vertical-align: top;
  color: #f0f0f0;
}

.information-table th {
  width: 12.5rem;
  font-weight: bold;
}

.information-table td {
  width: auto;
}

.information-table strong {
  font-weight: bold;
}

.information-table tr:last-child th, .information-table tr:last-child td {
  border-bottom: none;
}

.end-cover {
  background: rgb(250, 243, 239);
}

@media (max-width: 768px) {
  .information-section {
    margin-bottom: 12.5rem;
  }
 
  .end-cover {
    padding-bottom: 6.25rem;
  }
}

/* Carousel styles */
.carousel {
  position: relative;
  margin: 1.25rem auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  border-radius: 8px;
  overflow: hidden;
}

.carousel-item img {
  height: 25rem;
  object-fit: cover;
}

.carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
