
        .content-container {
            flex-grow: 1;
            height: fit-content;
            margin-bottom: 50px;
            background-color: rgb(250, 243, 239);
        }
        .page-title {
            color: black;
            font-size: 2.986rem	!important;
            font-weight: bold;
            font-family: 'Comfortaa', sans-serif;
            position: relative;
            display: inline-block;
        }

        .page-title-section {
            padding: 35px;
            text-align: center;
        }

        .page-title::after {
            content: '';
            position: absolute;
            width: 0;
            height: 4px;
            background-color:rgb(107, 26, 16);; 
            bottom: -10px; 
            left: 0;
            animation: lineGrow 1.5s ease-in-out forwards;
        }

        @keyframes lineGrow {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }


        #search-menu {
            background-color:rgb(250, 243, 239) !important;
        }

        #search-menu navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E") !important;
          }
        
        #search-menu .navbar-brand,
        #search-menu .nav-link {
            color: #000000 !important;
        }

        #search-menu .nav-item {
            margin-left: 20px;
        }

        #search-menu .dropdown-menu {
            max-width: 220px;
            max-height: 300px;
            overflow-y: auto;
            white-space: normal;
            background-color: white;
        }

        #search-menu .dropdown-item{
            color: black;
        }

        #search-menu .dropdown-submenu {
            position: relative;
        }

        #searchNavbar { 
            margin-right: 55px;
        }


        #search-menu .dropdown-submenu > .dropdown-menu {
            top: 0;
            margin-top: -6px;
            display: none;
        }

        #search-menu .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .map-container {
            max-width: 80%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            background-color: rgb(250, 243, 239);
        }

        .map-container svg {
            width: 100%;
            height: auto;
        }

        .info-panel {
            max-height: 70vh;
            overflow-y: auto;
            padding-left: 10px;
        }

        #info-image {
            width: 100%; 
            max-width: 400px; 
            max-height: 400px; 
            height: auto; 
            display: block;
            margin-top: 10px;
            margin-left: 0;
            object-fit: contain; 
            overflow: hidden; 
        }

        .map-point{
            position: relative; 
            fill: #67314b;
            border-radius: 50%;
            width: 30px; 
            height: 30px;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
        }

        .map-point:hover {
            fill: #c96638 !important;
        }

        .map-point.active {
            fill: #c96638 !important; 
        }

        .text-center {
            color: #f0f0f0;
        }

        #see-more-button{
            text-decoration: none;
            background: #67314b;
            padding: 7px 15px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            width: 100px;
            border: 1px solid#67314b;
        }

        #see-more-button:hover { 
            background-color: #c96638; 
            text-decoration: none;      
            color: white;  
        }

        .footer {
            background: #000;
            padding:20px 0;
            margin: 0;
            position: relative;
            box-sizing: border-box;
        }
        
        .footer a{
          color: #f0f0f0;
        }        

        
        