:root {
  --primary-color: rgb(228, 168, 140);
  --secondary-color: rgb(201, 102, 56);
  --tertiary-color: rgb(107, 26, 16);
  --quaternary-color: rgb(103, 49, 75);
  --quinary-color: rgb(250, 243, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo della pagina */
body, html {
  font-size: 1.25rem;
  background-color: #faf3ef;
  overflow-x: hidden;
}

/* Link */
a {
  text-decoration: none;
}

h1 {
  font-size: 3.733rem; 
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-size: 3.11rem;
  font-family: 'Comfortaa', sans-serif;
}

h3 {
  font-size: 2.593rem; 
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-size: 2.16rem; 
  font-family: 'Nunito', sans-serif;
}

h5 {
  font-size: 1.8rem; 
  font-family: 'Nunito', sans-serif;
}

h6 {
  font-size: 1.5rem; 
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 1.25rem; 
  font-family: 'Nunito', sans-serif;
}


/* Navbar */
.navbar .navbar-nav .nav-link,
.nav-link:hover,
.navbar-brand,
.nav-item.active .nav-link {
  color: rgb(250, 243, 239) !important; 
  font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
  border-color: rgb(250, 243, 239); /* Pink border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E");
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #000000;
  list-style: none;
  z-index: 1000;
}

.dropdown-item {
  color: #ffffff;
  font-family: 'Comfortaa';
  font-size: 0.8rem; 
}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
  }

  .navbar-item {
      margin: 10px 0;
  }

  .navbar-toggle {
      display: flex;
  }
}

/* Scrolling */
.scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.scroll-button {
  width: 40px; /* Dimensione fissa per il bottone */
  height: 40px; /* Dimensione fissa per il bottone */
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Spazio tra i bottoni */
  transition: background-color 0.3s; /* Transizione per il hover */
}

.scroll-button:hover {
  background-color: #f0f0f0;
}

.scroll-button svg {
  width: 20px; /* Dimensione fissa per l'icona */
  height: 20px; /* Dimensione fissa per l'icona */
}

/* Responsive adjustments */
@media (max-width: 760px) {
  .scroll-button {
      width: 35px; /* Dimensione ridotta per schermi piccoli */
      height: 35px; /* Dimensione ridotta per schermi piccoli */
  }

  .scroll-button svg {
      width: 18px; /* Dimensione ridotta per l'icona */
      height: 18px; /* Dimensione ridotta per l'icona */
  }
}

/* Footer */
.footer {
  background: #000;
  padding: 0;
  position: relative;
}

.footer a {
  color: #f0f0f0;
}

/* Responsive adjustments for text size */
@media (max-width: 760px) {
  body {
      font-size: 0.875rem; /* Reduce base font size */
  }

  h1 {
      font-size: 1.75rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  h3 {
      font-size: 1.25rem;
  }

  h4 {
      font-size: 1.125rem;
  }

  h5 {
      font-size: 1rem;
  }

  h6 {
      font-size: 0.875rem;
  }

  p {
      font-size: 0.875rem;
  }
}
