:root {
    --primary-color: rgb(228, 168, 140);
    --secondary-color: rgb(201, 102, 56);
    --tertiary-color: rgb(107, 26, 16);
    --quaternary-color: rgb(103, 49, 75);
    --quinary-color:  rgb(250, 243, 239);
  
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* Corpo della pagina */
  body,html{
    font-size: 16px;
    background-color:   rgb(247, 245, 245);
    overflow-x: hidden;
  }
  
  /* Link */
  a {
    text-decoration: none;
  }
  
  /* Dimensioni del testo */
  h1 {
    font-size: 2.986rem;
    font-family: 'Comfortaa';
  }
  
  h2 {
    font-size: 2.488rem;
    font-family: 'Comfortaa';
  }
  
  h3 {
    font-size: 2.074rem;
    font-family: 'Nunito', sans-serif;
    color: var(--quinary-color);
  }
  
  h4 {
    font-size: 1.728rem;
    font-family: 'Nunito', sans-serif;
  }
  
  h5 {
    font-size: 1.44rem;
    font-family: 'Nunito', sans-serif;
    color: var(--quinary-color);
  }
  
  h6 {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
  }
  
  p {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
  }

/* Navbar */
/* Stile per rendere le voci del menu bianche */
.navbar .navbar-nav .nav-link, 
.nav-link:hover, 
.navbar-brand,
.nav-item.active .nav-link  {
  color:  rgb(250, 243, 239)!important; 
  font-family: 'Nunito', sans-serif;
}

/* Ensure the toggle button is always white */
.navbar-toggler {
  border-color:  rgb(250, 243, 239) /* Pink border color */

}


/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #000000;
  list-style: none;
  z-index: 1000;
}

.dropdown-item {
  color: #ffffff;
  font-family: 'Comfortaa';
}


/* Responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;

  }

  .navbar-item {
      margin: 10px 0;
  }

  .navbar-toggle {
      display: flex;
  }
}

/* Scrolling */
.scroll-buttons {
    position: fixed;
    height: 8%;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-button:hover {
    background-color: #f0f0f0;
  }
  
  .scroll-button svg {
    width: 20px;
    height: 20px;
  }

  
/* Footer */
.footer {
  background: #000;
  padding: 0;

}

.footer a{
color: #f0f0f0;
}
  