:root {
    --primary-color: rgb(228, 168, 140);
    --secondary-color: rgb(201, 102, 56);
    --tertiary-color: rgb(107, 26, 16);
    --quaternary-color: rgb(103, 49, 75);
    --quinary-color: rgb(217, 217, 217);
    --background-color:  rgb(250, 243, 239);
    
}


/* Rimuovere margini e padding predefiniti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  body {
    background-color:  #FAF3EF;
}

.intro_content {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add space below the intro section */
    margin-top: 40px;
}

.intro-paragraph {
    font-size: 1.2em; /* Dimensione del font */
    color: #000000; /* Colore del testo */
    margin: 20px auto; /* Spazio sopra e sotto, centrato orizzontalmente */
    border: 2px solid rgb(103, 49, 75, 0.9); /* Contorno arancione di 1px */
    padding: 10px; /* Spazio interno al paragrafo */
    border-radius: 5px; /* Angoli arrotondati */
    background-color:  rgb(107, 26, 16, 0.1); /* Colore di sfondo arancione chiaro */
    width: 80%; /* Larghezza del rettangolo */
    max-width: 600px; /* Larghezza massima del rettangolo */
    box-shadow: 0 2px 5px rgb(107, 26, 16, 0.9, 0.4); /* Ombra leggera per dare profondità */
    margin-top: 40px;
    margin-bottom: 60px;
  
}


h1, h2,h4 {
    color:rgb(0, 0, 0);;
}

h1 {
    color: #000000; 
}


/* Navbar */
.navbar .nav-link, 
        .navbar .navbar-brand 
        .navbar .dropdown-item {
            color: rgb(255, 255, 255) !important;
        }

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  width: 200px;
  color: #ffffff;
}

.dropdown-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #000000;  border: 1px solid ; 
  transition: background-color 0.3s;
  font-size: 1.3em;
}


/* Show menu when toggle is clicked */
.navbar-menu.show {
  display: flex;
  color: #000000;
}

.dropdown-menu.show {
  display: block;

}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
  }

  .navbar-item {
      margin: 10px 0;
  }

  .navbar-toggle {
      display: flex;
  }
}


/* Timeline */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
}

.content {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.content:nth-child(1){
    animation-delay: 1s;
}

.content:nth-child(2){
    animation-delay: 2s;
}

.content:nth-child(3){
    animation-delay: 3s;
}

.content:nth-child(4){
    animation-delay: 4s;
}

.content:nth-child(5){
    animation-delay: 5s;
}

.content:nth-child(6){
    animation-delay: 6s;
}

.content:nth-child(7){
    animation-delay: 7s;
}

.content:nth-child(8){
    animation-delay: 8s;
}

.content:nth-child(9){
    animation-delay: 9s;
}

.content:nth-child(10){
    animation-delay: 10s;
}

.content:nth-child(11){
    animation-delay: 11s;
}

.content:nth-child(12){
    animation-delay: 12s;
}

.content:nth-child(13){
    animation-delay: 13s;
}

.content:nth-child(14){
    animation-delay: 14s;
}

.content:nth-child(15){
    animation-delay: 15s;
}

.content:nth-child(16){
    animation-delay: 16s;
}

.content:nth-child(17){
    animation-delay: 17s;
}

.content:nth-child(18){
    animation-delay: 18s;
}

.content:nth-child(19){
    animation-delay: 19s;
}



@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 7px 7px  rgb(107, 26, 16, 0.9);
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0 7px 10px  rgb(107, 26, 16, 0.9);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 7px 7px  rgb(107, 26, 16, 0.9);
    }
}

.text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 9px;
    font-size: 15px;
    border: 1px solid  rgb(107, 26, 16);
    background-color: rgba(250, 243, 239, 0.461);
    box-shadow: 0 2px 5px  rgb(107, 26, 16, 0.9);
    animation: pulse 4s infinite; /* Aggiungi l'animazione di pulsazione */
}

.bottom {
    text-decoration: none;
    background: #000000 ;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    border: 1px solid #000000;
}

.bottom a{
    color: #fff;
}



.left-content {
    left:0;
}


.right-content {
    left:50%;
}
.content img {
    position: absolute;
    width: 70px;
    height: 70px; /* Aggiungi l'altezza per mantenere il cerchio perfetto */
    border-radius: 50%; /* Cambiato a 50% per garantire un cerchio perfetto */
    right: -38px;
    top: 32px;
    z-index: 10;
    object-fit: cover; /* Assicura che l'immagine si adatti correttamente nel cerchio */
}

.content img:hover{
    transform: scale(2); /* Ingrandisce l'immagine */
    z-index: 2;
    transition: 0.5s;
}

.right-content img {
    left: -36px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: rgb(107, 26, 16);
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }

    100%{
        height: 100;
    }
}

.text-box h2{
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-content-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 13px solid  rgb(107, 26, 16, 0.9);
    right: -15px;
}

.right-content-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 12px solid  rgb(107, 26, 16, 0.9);
    left: -15px;
}

@media screen and (max-width: 600px) {
    
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .content{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-content{
        left: 0;
    }

    .right-content img, .right-content img{
        left: 0px;
    }

    .left-content img, .left-content img{
        left: 0px;
    }

    .left-content-arrow, .left-content-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

}








/* Scrolling */
.scroll-buttons {
    position: fixed;
    height: 8%;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-button:hover {
    background-color: #f0f0f0;
  }
  
  .scroll-button svg {
    width: 20px;
    height: 20px;
  }


/* Footer */
.footer {
    background: #000;
    padding: 0;
}

.text-center {
    color: #f0f0f0;
}